// =============================================================================
// _colors.scss : Colors for Project
// MIT License
// =============================================================================

// =============================================================================
// _colors.scss settings
// =============================================================================

//Palette Black
$black-primary-color: black;
$black-second-color:rgb(58, 58, 58);
$black-third-color:rgb(128, 128, 128);
$black-fourty-color:rgb(194, 194, 194);
$black-fivty-color:rgb(255, 255, 255);
//Palette Blue
$blue-primary-color: rgb(0, 17, 54);
$blue-second-color:rgb(0, 34, 107);
$blue-third-color:rgb(0, 55, 173);
$blue-fourty-color:rgb(0, 68, 214);
$blue-fivty-color:rgb(64, 124, 255);
//Palette Purple
$purple-primary-color: rgb(21, 0, 46);
$purple-second-color:rgb(32, 0, 68);
$purple-third-color:rgb(60, 0, 128);
$purple-fourty-color:rgb(82, 0, 175);
$purple-fivty-color:rgb(119, 0, 255);
